@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #edf2f4; */
  background-color: #e52ae8;
  background-image: linear-gradient(315deg, #b1d769 0%, #5de7ea 74%);

  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 300px;
  overflow: hidden;
  border-radius: 1rem;

  /* background-color: #f4a7a7; */
  /* border: 1px solid #f7cf53; */
  background-color: #dbf26e;
  background-image: linear-gradient(
    319deg,
    #a9dbff 0%,
    #9de7a5 37%,
    #88e1d2 100%
  );

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.image {
  /* background-color: #f7cf53; */
  height: 300px;
  overflow: hidden;
}
.image img {
  border-radius: 50%;
  width: 100%;
  transform: rotateY(180deg);
}
.details div {
  padding-top: 10px;
  font-weight: 500;
}
strong {
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: rgb(69, 78, 94);
  opacity: 0.5;
}
span {
  color: rgb(87, 99, 122);
  font-size: 13px;
  display: block;
  padding-top: 5px;
}
.details {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: block;
}
a {
  text-decoration: none;
  color: rgb(87, 99, 122);
  font-weight: 350;
  font-size: 16px;
  display: block;
  padding-top: 5px;
  font-weight: 400;
}
